<%= form_for [:web, @order] do |f| %>
  <%= render 'shared/error_messages', object: @order %>
  <div class="form-group">
    <%= f.label :course %>
    <%= f.text_field :course, placeholder: 'Укажите предмет, по которому требуется помощь', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.text_field :grade, placeholder: 'Курс обучения', class: 'form-control' %>
  </div>

  <!-- <div class="form-group">
    <%#= f.label :category %>
    <%#= f.text_field :category, class: 'form-control' %>
  </div> -->

  <div class="form-group">
    <%= f.label :university %>
    <%= f.text_field :university, placeholder: 'Выберите ваш вуз', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :faculty %>
    <%= f.text_field :faculty, placeholder: 'Выберите ваш факультет', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'Укажите почту, на которую будет выслано решение', class: 'form-control' %>
  </div>

  <%= f.hidden_field :due_by, value: 1.day.from_now %>

  <!-- <div class="form-group">
    <%= f.label :starts_at %>
    <%= f.text_field :starts_at, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :due_by %>
    <%= f.text_field :due_by, class: 'form-control' %>
  </div> -->

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Сформулируйте задание', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>
