<h1>Обратные звонки</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>№</th>
      <th>Время составления заявки</th>
      <th>Имя</th>
      <th>Номер телефона</th>
    </thead>
    <tbody>
      <% @call_backs.each do |call_back| %>
        <tr>
          <td><%= call_back.id %></td>
          <td><%= call_back.created_at.to_formatted_s(:short) %></td>
          <td><%= call_back.name %></td>
          <td><%= call_back.phone_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @call_backs %>
