<h1>Изменить заказ</h1>

<%= form_for [:admin, @order] do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :operator %>
    <%= f.select :operator_id, options_from_collection_for_select(Operator.all, :id, :name, @order.operator_id), { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
