<h1>Заказы</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>№</th>
      <th>Время исполнения</th>
      <th>Предмет</th>
      <th>Тип</th>
      <th>Оператор</th>
      <th>Статус</th>
      <th>Цена</th>
      <th>Заказчик</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.id, [:admin, order] %></td>
          <td><%= order.due_by.to_formatted_s(:short) %></td>
          <td><%= order.course %></td>
          <td><%= order.category_text %></td>
          <td><%= order.operator&.name %></td>
          <td><%= order.status_text %></td>
          <td><%= order.sum %></td>
          <td><%= order.phone_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @orders %>
