<h1>
  Заказ №<%= @order.id %>
  <%= link_to 'Изменить', edit_admin_order_path(@order), class: 'btn btn-default' %>
</h1>

<div class="form-group">
  <% if @order.status.new? %>
    <%= form_for [:admin, @order], html: { class: 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.text_field :sum, placeholder: 'Цена', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Выставить счет', class: 'btn btn-primary' %>
        <%= link_to 'Отклонить', reject_admin_order_path(@order), method: :patch, class: 'btn btn-danger' %>
      </div>
    <% end %>
  <% end %>

  <% if @order.status.paid? %>
    <%= form_tag refund_admin_order_path(@order), method: :patch, class: 'form-inline' do %>
      <div class="form-group">
        <%= number_field_tag :refund_amount, nil, placeholder: 'Сумма возврата', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Возврат', class: 'btn btn-danger' %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="form-group">
</div>

<% if @order.starts_at %>
  <p><strong>Время начала: </strong> <%= @order.starts_at.to_formatted_s(:short) %></p>
<% end %>

<p><strong>Время окончания: </strong> <%= @order.due_by.to_formatted_s(:short) %></p>
<p><strong>Предмет: </strong> <%= @order.course %></p>
<p><strong>Курс: </strong> <%= @order.grade %></p>
<p><strong>Тип: </strong> <%= @order.category_text %></p>
<p><strong>Вуз: </strong> <%= @order.university %></p>
<p><strong>Факультет: </strong> <%= @order.faculty %></p>
<p><strong>Описание: </strong> <%= @order.description %></p>
<p><strong>Оператор: </strong> <%= @order.operator&.name %></p>
<p><strong>Статус: </strong> <%= @order.status_text %></p>

<% if current_admin.admin? %>
  <p><strong>Почта: </strong> <%= @order.email %></p>
  <p><strong>Телефон: </strong> <%= @order.phone_number %></p>
  <p><strong>Оплата: </strong> <%= @order.sum %></p>
<% end %>

<% if @order.status.refunded? && current_admin.admin? %>
  <p><strong>Сумма возврата: </strong> <%= @order.refund_amount %></p>
<% end %>


<h2>Сообщения</h2>

<table class="table table-hover">
  <thead>
    <th>Отправитель</th>
    <th>Сообщение</th>
  </thead>
  <tbody>
    <% @order.messages.each do |message| %>
      <tr class="<%= 'active' if message.category.user? %>">
        <td class="col-xs-3 col-sm-2">
          <%= message.category.user? ? @order.phone_number : 'Оператор' %>
          <br>
          <span class="text-muted">
            <%= message.created_at.to_formatted_s(:short) %>
          </span>
        </td>
        <td class="col-xs-9 col-sm-10">
          <%= message.content %>
          <% if message.image? %>
            <%= link_to message.image_url do %>
              <%= image_tag message.image.thumb.url, class: 'img-responsive' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= form_for [:admin, @order, @order.messages.build], html: { class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.text_field :content, placeholder: 'Сообщение', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Отправить', class: 'btn btn-default' %>
    </div>
    <%= f.file_field :image, class: 'form-image' %>
  <% end %>
</div>
