<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if admin_signed_in? %>
        <%= link_to 'GetHelp', admin_orders_path, class: 'navbar-brand' %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Заказы', admin_orders_path %></li>
        <li><%= link_to 'Новости', admin_posts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? && current_admin.admin? %>
          <li><%= link_to 'Уведомления', admin_notifications_path %></li>
          <li><%= link_to 'Статистика', admin_statistics_path %></li>
          <li><%= link_to 'Операторы', admin_operators_path %></li>
          <li><%= link_to 'Обратные звонки', admin_callback_requests_path %></li>
        <% end %>
        <% if admin_signed_in? %>
          <li><%= link_to 'Выход', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Вход', new_admin_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
