<h1>Статистика</h1>

<%= form_tag admin_statistics_path, method: :get do %>
  <div class="form-group input-group date datepicker">
    <%= text_field_tag :from, nil, placeholder: 'Начало', class: 'form-control' %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group input-group date datepicker">
    <%= text_field_tag :to, nil, placeholder: 'Конец', class: 'form-control' %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>

  <div class="form-group">
    <%= select_tag :operator_id, options_from_collection_for_select(Operator.all, :id, :name), include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Подтвердить', class: 'btn btn-default' %>
  </div>
<% end %>

<table class="table">
  <tr>
    <td>Количество заказов</td>
    <td><%= @statistics.order_count %></td>
  </tr>
  <tr>
    <td>Отклонено</td>
    <td><%= @statistics.rejected_count %></td>
  </tr>
  <tr>
    <td>Возвращено</td>
    <td><%= @statistics.refunded_count %></td>
  </tr>
  <tr>
    <td>Ожидает</td>
    <td><%= @statistics.pending_count %></td>
  </tr>
  <tr>
    <td>Возвращено на сумму</td>
    <td><%= @statistics.total_refunded %></td>
  </tr>
  <tr>
    <td>Исполнено на сумму</td>
    <td><%= @statistics.total_paid %></td>
  </tr>
</table>
