<h1> Заказ №<%= @order.id %> </h1>

<p>
  Имя: <%= @order.name %>
</p>

<p>
  Почта: <%= @order.email %>
</p>

<p>
  Телефон: <%= @order.user&.phone_number || @order.phone_number %>
</p>

<p>
  Тип работы: <%= @order.category %>
</p>

<p>
  Предмет: <%= @order.course %>
</p>

<p>
  ВУЗ: <%= @order.university %>
</p>

<p>
  Факультет: <%= @order.faculty %>
</p>

<p>
  Курс: <%= @order.grade %>
</p>

<p>
  Время окончания: <%= @order.due_by.to_formatted_s(:short) %>
</p>

<p>
  Описание: <%= @order.description %>
</p>
