<h1> Заказ №<%= @order.id %> </h1>

<p>
  Имя: <%= @order.name %>
</p>

<p>
  Почта: <%= @order.email %>
</p>

<p>
  Телефон: <%= @order.phone_number %>
</p>

<p>
  Тип работы: <%= @order.activity_type %>
</p>

<p>
  Предмет: <%= @order.subject %>
</p>

<p>
  ВУЗ: <%= @order.university %>
</p>

<p>
  Факультет: <%= @order.faculty %>
</p>

<p>
  Курс: <%= @order.grade %>
</p>

<p>
  Описание: <%= @order.description %>
</p>
